@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,100,100italic);

@require '../lib/vars.styl'

*
  box-sizing border-box

body
  font-family roboto
  color black
  font-size 18px
